@font-face {
    font-family: Patron-Reg;
    src: url(font/Patron-Regular.otf);
}
  
@font-face {
    font-family: Patron-Med;
    src: url(font/Patron-Medium.otf);
}
  
@font-face {
    font-family: Patron-Bold;
    src: url(font/Patron-Bold.otf);
}

body {
    background-color: black;
    overflow: hidden;
    padding: 80px;
    height: 100vh;
}

#header {
    display: flex;
    justify-content: space-between;
}

#supper {
    width: 100%;
    margin-top: 48px;
    display: none;
}

#title, #menu-label, h1 {
    font-family: Patron-Reg;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: white;
    margin: 0;
    transition: 0.5s ease-in-out;
}

#title:hover {
    cursor: pointer;
    color: #ffc107;
}

#clear {
    color: black;
    transition: 0.5s ease-in-out;
}

#clear:hover {
    cursor: pointer;
    color: #FF7272;
}

#menu, h1 {
    color: black;
    margin-bottom: 24px;
    text-align: right;
}

#menu-container {
    margin-left: auto;
}

#menu {
    background-color: white;
    height: 100vh;
    width: 15%;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    top: 0;
    margin-right: -270px;
}

#menu-label {
    transition: 0.5s ease-in-out ; 
}

#menu-label:hover {
    cursor: pointer;
    color: #24B0FF;
}

#close {
    margin-top: 80px;
    transition: 0.5s ease-in-out;
}

#close:hover {
    cursor: pointer;
    color: rgb(255, 73, 73);
}

#cabinet {
    transition: 0.5s ease-in-out;
}

#cabinet:hover {
    cursor: pointer;
    color: #A8392A;
}

#about {
    transition: 0.5s ease-in-out;
}

#about:hover {
    cursor: pointer;
    color: #6B5CC8;
}

#close, #cabinet, #about {
    margin-right: 80px;
}

#big-title {
    font-family: Patron-Med;
    color: white;
    font-size: 72px;
    line-height: 72px;
    text-align: left !important;
    margin-top: 260px;
    margin-bottom: 80px;
}

#about-info {
    color: white;
    display: flex;
    column-gap: 136px;
}

#about-info h2 {
    font-family: Patron-Reg;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    margin-top: 0;
}

#about-info p {
    font-family: Patron-Reg;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.4);
    margin-top: 0;
}

.back {
    color: white;
    transition: 0.5s ease-in-out ; 
}

.back:hover {
    cursor: pointer;
    color: #24B0FF !important;
}

.art-shade {
    display: none;
}

.art-close {
    position: absolute;
    color: rgba(255, 255, 255, 0.6);
    right: 24px;
    top: 24px;
    z-index: 3;
    transition: 0.5s ease-in-out ; 

    font-family: Patron-Med;
    font-size: 24px;
}

.art-close:hover {
    cursor: pointer;
    color: white;
}

.art-drag {
    position: absolute;
    color: rgba(255, 255, 255, 0.4);
    right: 24px;
    bottom: 24px;
    z-index: 3;
    
    font-family: Patron-Reg;
    font-size: 24px;
    font-weight: 300;
}

.cover {
    position: absolute;
    background-color: black;
    opacity: 0.65;
}

.pieces {
    display: none;
    position: absolute;
}

.pieces:hover {
    cursor: grab;
}

#items {
    position: absolute;
    bottom: 80px;
    width: 80%;
}

.med {
    font-family: Patron-Med;
    color: white;
    font-size: 80px;
    line-height: 96px;
    margin-right: 24px;
    transition: 1.2s ease-out;
    display: inline-block;
}

.med:hover {
    cursor: pointer;
}